/* folha de estilo */

/*ocultar o tilo do corpo do documento dentro do <header>*/

.logo{
    overflow: hidden;
    height: 200px;
    float: left;
    margin-right: 10px;
}


h1 {
    /*display= none */
    background-color: rgb(127, 255, 227);
    padding: 100px;
    text-align: center;
}

#menu {
    word-spacing: 100px;
    text-align: center;
    background-color: rgb(120, 173, 253);
    padding: 10px;
}